.no-wrap {
  white-space: nowrap; /* Prevent text wrapping */
}
.brand-name {
  font-size: 1.5rem; /* Adjust brand name size */
  flex: 0 1 auto; /* Allow brand name to take less space */
}
.navbar {
  padding-left: 0; /* Remove left padding from navbar */
}

section{
  padding: 6px 0;
}

.Home {
  background-image: url('https://images.pexels.com/photos/1376042/pexels-photo-1376042.jpeg?auto=compress&cs=tinysrgb&w=800');
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh; /* Set the height to the full viewport height */
  }

  .location-section{
    background-color: rgb(48, 46, 46);
  }

